<div class="how-to-order-container">
    <h2>HOW TO ORDER</h2>

    <div class="how-to-order-wrapper">
        <div class="pick-your-noodle">
            <img src="./../../../assets/img/2_section_how_to_order/PNG/noodle.png" alt="">
            <p>Pick your noodle</p>
        </div>
        <div class="pick-your-broth">
            <img src="./../../../assets/img/2_section_how_to_order/PNG/broth.png" alt="">
            <p>Pick your broth</p>
        </div>
        <div class="add-your-toppings">
            <img src="./../../../assets/img/2_section_how_to_order/PNG/egg.png" alt="">
            <p>Add your toppings</p>
        </div>
    </div>
</div>